services:
    dm-dashboard:
        container_name: dm-dashboard
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "3000:4000"
        restart: always
        environment:
            - NODE_ENV=production
        healthcheck:
            test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:4000"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 60s
